<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="widh=device ,intial-scale=1.0">
    <title>document</title>
    
 </head>
 <body>
    <h1>all articles pages</h1>
    <hr/>
    <div style="background-color: chocolate;">
        <% for( let article of allarticles  ){ %><%=article.title  %><% } %>

    </div>
</body>
</htm