<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="widh=device ,intial-scale=1.0">
    <title>document</title>

 </head>
 <body>
    <h1> hello <%=namee%></h1>
    <h1 style="background-color: chocolate;padding: 10px;border-radius: 5px;"> hello <%=numbers%></h1>

    <% if (namee=="basse") { %>
      <div>name is bassem</div>

    <% } %>
</body>
</html>